<button type="submit" (click)="clear()">Clear</button>
<form>
  <div>
  <label>Title</label>
  <input type="text" class="input-box" [(ngModel)]="title" name="title"/>
</div>
<div>
  <label>Body</label>
  <textarea class="input-box" [(ngModel)]="body" name="body"></textarea>
  </div>
  <div>
  <label>Author</label>
  <input  class="input-box" type="text" [(ngModel)]="author" name="author"/>
</div>
  <button type="submit" (click)="save()">Save</button>
  <button type="submit" (click)="clear()">Clear</button>
</form>
